<mat-card>
  
    <mat-card-content >
  
      <!-- Search input -->
      <div class="centered-card-container">
        <mat-card >
          <mat-card-header>
            <mat-card-title class="text-center" >Search </mat-card-title>
          </mat-card-header>
          <mat-card-content>
      &nbsp;
    <mat-form-field>
      <mat-label>Search doctor_id/Name</mat-label>
      <input matInput [formControl]="selectedProvider" (ngModelChange)="onStateChange()">
      <mat-icon matSuffix>search</mat-icon>
      
    </mat-form-field>
    &nbsp;
    <mat-form-field>
      <mat-label>Search provider_id/Name</mat-label>
      <input matInput [formControl]="selectedState" (ngModelChange)="onStateChange()" >
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <br>
    <a mat-raised-button color="accent" routerLink="/adminpage/createsearch" >CREATE<mat-icon>add</mat-icon></a> &nbsp;
  
        
      </mat-card-content>
      
    </mat-card>

  </div>
 
  </mat-card-content>
  
  </mat-card>
  
  <br>
  <router-outlet></router-outlet>
  <div class="tabclass1">
    <mat-card *ngFor="let search of filtersearch | slice:0:5" class="doctor-card">
      <mat-card-header>
        <!-- <mat-card-title>ID is passed</mat-card-title> -->
        <!-- <mat-card-subtitle>{{ provider.doctor_speciality }}</mat-card-subtitle> -->
      </mat-card-header>
      <mat-card-content>
        <div class="content-container">
          <p>Doctor ID :{{ search.doctor_id }}</p>
          <p>Doctor Name:{{search.doctor_name}}</p>
          <p>Provider ID:{{ search.provider_id }}</p>
          <p>Provider name:{{ search.hospital_clinic }}</p>

          <!-- <p>
            <mat-icon class="my-icon">local_hospital</mat-icon>
            {{ doctor.hospital_clinic }}
          </p>
          <p>
            <mat-icon class="my-icon">location_on</mat-icon>
            {{ doctor.city }} {{ doctor.state }}
          </p>
          <p>
            <mat-icon class="my-icon">phone</mat-icon>
            {{ doctor.contact_number }}
          </p> -->
        </div>
        <form class="form-container">
          <button mat-raised-button color="accent" (click) = "updatesearch(search.search_id)" >UPDATE<mat-icon>update</mat-icon></button>&nbsp;
          <button mat-raised-button color="accent" (click) = "deletesearch(search.search_id)">DELETE<mat-icon>delete</mat-icon>
          </button>
        </form>
      </mat-card-content>
      
    </mat-card>