<!-- <div class="container">
  <mat-toolbar  class="mat">
     <span><mat-icon color="accent">favorite</mat-icon>
     <a mat-button color="accent" routerLink="/">MY HEALTH INSURANCE</a> </span>
  
  <div class="spacer">
     
  </div>
    
     
     <a mat-raised-button color="accent" routerLink="/" >SIGN-OUT</a> &nbsp;
     
  </mat-toolbar>
  
  </div> -->
  <div *ngIf="authservice.getIsAuthenticated()">
  <div class="whitebg">
  <!DOCTYPE html>
  <html lang="en">
  <body>
      <header>
          <div class="logo">
              <a href="#">Advalent Health Insurance.</a>
          </div>
          <input type="checkbox" id="click">
          <label for="click" class="mainicon">
              <div class="menu">
                  <i class="bi bi-list"></i>
              </div>
          </label>
          <nav>
              <!-- <a href="#" >Home</a>
              <a  routerLink="/signin">Sign in</a> -->
   
                <a  routerLink="/main">Departments</a>&nbsp;
               <a mat-raised-button color="accent" class="active" (click)="logout()" ><mat-icon>logout</mat-icon>SIGN-OUT</a> &nbsp;
              <!-- <a href="#">Contact</a> -->
          </nav>

          
          
      </header>
<!-- ------------------------------------- -->

<mat-toolbar class="whitebg2" [ngClass]="{'fixed-sub-navbar': isFixed}">
 <br>
     &nbsp;     
    <mat-form-field>
      <mat-label>State/City</mat-label>
      <input matInput  [formControl]="selectedcity" (ngModelChange)="onStateChange()"  >
      <mat-icon matSuffix>location_on</mat-icon>
    </mat-form-field>
    &nbsp;
  <mat-form-field>
    <mat-label>Speciality/Doctor </mat-label>
    <input matInput [formControl]="selectedSpeciality" (ngModelChange)="onStateChange()" >
    <mat-icon matSuffix>medical_services</mat-icon>
  </mat-form-field> 
</mat-toolbar>


  <!-- ---------------------------------- -->
  
  </body>
  <style>
      @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
  </style>
</html>



<!-- card.component.html -->

<!-- --------------------------------------------------------------- -->

      <!-- code was here -->


<!-- ------------------------------------------------------------------- -->

<!-- //.......display of search............. -->
&nbsp;
<div style="display: flex; justify-content: center; align-items: center; height: 60vh;">
<mat-card *ngFor="let doctor of filterSearch | slice:0:5" class="doctor-card" style="margin: 10px;">
  <mat-card-header>
    <mat-card-title>Dr.{{ doctor.doctorName }}</mat-card-title>
    <mat-card-subtitle>{{ doctor.doctorSpeciality }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="content-container">
      <p>{{ doctor.doctorDescription }}</p>
      <p>
        <mat-icon class="my-icon">local_hospital</mat-icon>
        {{ doctor.hospitalClinic }}
      </p>
      <p>
        <mat-icon class="my-icon">location_on</mat-icon>
        {{ doctor.city }} {{ doctor.state }}
      </p>
      <p>
        <mat-icon class="my-icon">phone</mat-icon>
        {{ doctor.contactNumber }}
      </p>
    </div>
    
  </mat-card-content>
  
</mat-card>

</div>
</div>
</div>
<app-footer1></app-footer1>

