<div class="card-container">
  <mat-card class="card-left">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Advalent health insurance</mat-card-title>
      <mat-card-subtitle>Policy</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://static.pbcdn.in/health-cdn/images/prelead/images/familyTrust.webp" alt="Health insurance">
    <mat-card-content>
      <p>
        We are India's largest digital insurance market place
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <!-- <p>My Rating is {{ myRating }}</p> -->
      <app-rating [(rating)]="myRating"></app-rating>
      <button mat-button>
        SHARE</button>
    </mat-card-actions>
  </mat-card>
  
  
  
  <mat-card class="card-right">
  <form [formGroup]='loginForm'  (ngSubmit)=onSubmit(loginForm)>
    <div class="div-style">

    <h1 style="text-align:center">Sign in</h1>
    <hr color="grey">
    <div>
    <mat-form-field class="mat-form">
      <input matInput type="email" placeholder="Email" formControlName="email">
      <mat-error *ngIf= "AllControls?.email?.errors?.['email']&&submit">Invalid email</mat-error>
      <mat-error *ngIf= "AllControls?.email?.errors?.['required']&&submit">Email is required</mat-error>

    </mat-form-field>
    <br>
    <br>
    </div>

    <mat-form-field  class="mat-form">
      <input matInput placeholder="Password" [type]="hide?'password':'text'" formControlName='password'> 
      <mat-error *ngIf= "AllControls?.password?.errors?.['required']&&submit">Password is required</mat-error>
    </mat-form-field>
<br>
<br>
<br>
    

    <div style="text-align:center">
      <button mat-raised-button color="primary" type="submit">Login</button>
    </div>
  
  
  
  
  
  <h3 style="text-align:center">Don't have an account yet ?</h3>
  &nbsp;
    
  
  <div style="text-align:right;  padding: 10px;">
      <a  routerLink="/signup"><i><h4>Create account</h4></i> </a>
  </div>


  </div>
  </form>
  </mat-card>
</div>