.card-container {
  display: flex;
  /* justify-content: space-between;
  align-items: center;
  padding: 20px; */
  flex-wrap: wrap;
  
  }
  .form-group label {
    display: inline-block;
    margin-bottom: 0.5rem;
  }
  .form-group input {
    display: inline-block;
    margin-bottom: 1rem;
  }
  
  
  
  
  .card-left {
  flex: 1;
  max-width: 400px;
  margin: 1rem;
  margin-left: auto;
  margin-right: auto;
   /* width: 35%;
  height: 50%; */
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(35, 22, 63, 0.568);
  border-radius: 10px;
  
  }
  @media screen and(min-width:768px) {
    .card-left {
      max-width: none;
    }
    .card-right {
      max-width: none;
    }
    
    .card-actions {
      display: flex;
      justify-content: space-between;
    }     
  }
 
  
  
  
  .card-right {
  flex: 1;
  max-width: 400px;
  margin: 1rem;
  margin-right: auto;
  margin-left: auto;
  
  

  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(35, 22, 63, 0.568);
  
  background-color: #fff;
  border: 2px solid rgb(180, 180, 193);
  /* background-image: url('src\assets\images\card image.webp');
  background-size: cover;
  background-position: center; */
  
  }
  .div-style{
       
    border-radius: 5em;
    display: inline;
    padding: auto;
 }
 .mat-form{
  align-items: flex-end;
  text-align: end;
  position: relative;
  display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  top: 3rem;
  
  /* padding: 5px;
  margin-bottom: 5px; */
  
 
 
  
  
  
}
.hover1:hover {
  box-shadow: 0 0 24px 0 rgba(248, 60, 60, 0.815);
}

  
  
  
  .mat-card-content {
  padding: 20px;
  }
  
  
  
  
  
