
  
      <div style="display: flex; justify-content: center; align-items: center; height: 60vh;">
            <mat-card class="card" >
                <mat-card-header>
                    <mat-card-title class="textcenter"  > Update </mat-card-title>
                  </mat-card-header>
                  &nbsp;
                  &nbsp;
                  <mat-card-content>
              <form (ngSubmit)="onSubmit()">
                <div class="col">
                  <mat-form-field>
                    <mat-label> Doctor ID</mat-label>
                    <input matInput [(ngModel)]="search.doctor_id" name="doctor_id">
                  </mat-form-field>
                </div>
                  &nbsp;
                  &nbsp;
                  <div class="col">
                    <mat-form-field>
                        <mat-label>Provider ID</mat-label>
                        <input matInput [(ngModel)]="search.provider_id" name="provider_id">
                      </mat-form-field>
                    </div>
          
                
                  <button mat-raised-button color="primary" type="submit" class="textcenter" >Update</button>
                
              </form>
              </mat-card-content>
            </mat-card>
          </div>
        

