

    .card-row {
        display: flex;
        flex-wrap: wrap;
       margin-left: 50px;
       padding-left: 5%;
        width: 50%;

       /* margin-top: 20px; */
       
     }
    .card-row mat-card {
        width: calc(150.33% - 50px);
        margin: 30px;
        }
        
    @media only screen and (max-width: 60%) {
        .card-row mat-card {
        width: 100%;
        margin: 16px 0;
        }
        
    }
    .center{
        display:flex;
       
        height: 150px;
        justify-content: center;
        align-items: center;
        }
    
        .whitebackground{
            
            background-color: #FFFFFF;
            background-size: cover; 
           
        
            
        }