
  
      
      <div style="display: flex; justify-content: center; align-items: center; height: 60vh;">
            <mat-card  class="card">
                <mat-card-header>
                    <mat-card-title class="textcenter" > Create </mat-card-title>
                  </mat-card-header>
                  &nbsp;
                  &nbsp;
                  <mat-card-content>
              <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
                <div class="col">
                  <mat-form-field>
                    <mat-label> NPI Number</mat-label>
                    <input matInput [(ngModel)]="search.doctorId" name="doctor_id" formControlName="doc_id">
                    <mat-error *ngIf="loginForm.get('doc_id')?.hasError('required')"></mat-error>
                  </mat-form-field>
                </div>
               
                <div class="col">
                    <mat-form-field>
                        <mat-label>Provider ID</mat-label>
                        <input matInput [(ngModel)]="search.providerId" name="provider_id" formControlName="prov_id">
                        <mat-error *ngIf="loginForm.get('prov_id')?.hasError('required')"></mat-error>
                      </mat-form-field>
                    </div>
                
          
                
                  <button [disabled]="loginForm.invalid" mat-raised-button color="primary" type="submit" class="textcenter">Create</button>
                
              </form>
              </mat-card-content>
            </mat-card>
          </div>
          
 
 

