.tabclass{
    /* position: relative; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 16px;
    align-items: center;
    top: 3rem;
    
   
    
}
button {
  margin-bottom: 16px;
  align-self: flex-start;
}

mat-stepper {
  max-width: 100%;
  width: 100%;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }
  
  


  
  td {
    padding-right: 8px;
  }
  .example-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }

  
.ajil{
  background-image: url('src\assets\images\card image.webp');
  background-size: cover;
  background-position: center;
  max-width: 100%;
  
}

  
  
  