<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="box input-box">
            <h3 class="link-name">Stay in touch!</h3>
            <p class="link-name">Subscribe to our newsletter:</p>
            <form>
              <input type="email" placeholder="Enter your email">
              <button type="submit">Subscribe</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <section>
      <div class="main">
          <div class="detail"><!---Sarah -->
              <!-- <h1><span>Hi, It's Me</span> <br> I'm <span style="color:#244D61;">Alex</span></h1>
              <p>Lorem Ipsum is simply dummy text of the printing <br> and typesetting industry. </p> -->
             
          </div>
      </div>
  </section>
    <div class="bottom-details">
      <!-- <div class="social">
        <a href="#"><i class="bi bi-github"></i></a>
        <a href="#"><i class="bi bi-instagram"></i></a>
        <a href="#"><i class="bi bi-linkedin"></i></a>
        <a href="#"><i class="bi bi-facebook"></i></a>
    </div> -->
      <div class="bottom-text">
        <p>© 2023 Advalent health insurance. All rights reserved.</p>
      </div>
    </div>
  </footer>
  