
<br>
<div class="tabclass">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Sign IN">Sign In</mat-tab>

        <mat-tab label="Sign UP">
            <div class="divcard">
            <mat-card>
                <mat-card-header>
                  
                    <form class="example-form">
                        
                      
                        <table class="example-full-width" cellspacing="0"><tr>
                          <td><mat-form-field class="example-full-width">
                            <mat-label>First name</mat-label>
                            <input matInput>
                          </mat-form-field></td>
                          <td><mat-form-field class="example-full-width">
                            <mat-label>Last Name</mat-label>
                            <input matInput>
                          </mat-form-field></td>
                        </tr></table>
                        

                    </form>                                          

                </mat-card-header>
                <mat-card-actions align="end">
                    <button mat-raised-button color="primary">Back <--</button>&nbsp;
                    <button mat-raised-button color="accent">Next --></button>
                </mat-card-actions>
              </mat-card>
            </div>


        </mat-tab>
        
    </mat-tab-group>


  

</div>
  