
<br>
<div class="tabclass">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <!-- <mat-tab label="Sign IN">Sign In</mat-tab> -->

        <mat-tab label="Sign UP">
            <div class="divcard">
            <mat-card>
                <mat-card-header>
                  
                    <form class="example-form">
                        
                      
                        <table class="example-full-width" cellspacing="0"><tr>
                          <td><mat-form-field>
                            <textarea matInput placeholder="Address"></textarea>
                          </mat-form-field></td>
                        </tr></table>
                        <table class="example-full-width" cellspacing="0"><tr>
                          <td><mat-form-field class="example-full-width">
                            <mat-label>GOVT ID</mat-label>
                            <input matInput>
                          </mat-form-field></td>
                        </tr></table>
                        <table class="example-full-width" cellspacing="0"><tr>
                          <td>
                            <h3>Do you have any existing illness or medical record ?</h3>
                        <mat-selection-list #shoes>
                          <mat-list-option *ngFor="let illness of cause">
                            {{illness}}
                          </mat-list-option>
                        </mat-selection-list></td>
                      </tr></table>
                        
                        <p>
                          Options selected: {{shoes.selectedOptions.selected.length}}
                        </p>
                        
                        

                    </form>                                          

                </mat-card-header>
                <mat-card-actions align="end">
                    <button mat-raised-button color="primary">Back <--</button>&nbsp;
                    <button mat-raised-button color="accent">Next --></button>
                </mat-card-actions>
              </mat-card>
            </div>


        </mat-tab>
        
    </mat-tab-group>


  

</div>
  