<app-main-nav> </app-main-nav>
<div class="bg-images">
    <div class="center">
     <h1>Why buy from My Health Insurrance?</h1>
    </div>
    <div class="card-row">
    <mat-card>
    <img class="image" mat-card-image src="\assets\images\download.png" >
    <mat-card-header>
    <mat-card-title>platinum member</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    <p>Policybazaar is the largest partner for most Health
     Insurers and a Platinum partner,
    which means we prioritize your policy and claims to ensure treating them on priority</p>
    </mat-card-content>
    </mat-card>
    <mat-card>
    <img class="image2" mat-card-image src="\assets\images\rupee.png" >
    <mat-card-header>
    <mat-card-title>Affordable options</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    <p>We make Health insurance more affordable for you through various monthly payment options and discounts provided by our Partners</p>
    </mat-card-content>
    </mat-card>
    <mat-card>
    <img class="image2" mat-card-image src="\assets\images\clock.png" >
    <mat-card-header>
    <mat-card-title>30 minute claim support*</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>Our Claim specialists will reach your hospital or home in 30 minutes to support your health insurance claim</p>
    </mat-card-content>
    </mat-card>
    </div>
<div class="whitebg">
    <div class="center">
    <h1>How to Make a Claim for your Health Insurance </h1>
    </div>
<div class="card-row1">
    <img class="stepperimage" mat-card-image src="\assets\images\formfill.png" >
    <img class="stepperimage" mat-card-image src="\assets\images\approved.png" >
    <img class="stepperimage" mat-card-image src="\assets\images\hosp.png" >
    <img class="stepperimage" mat-card-image src="\assets\images\set1.png" >
</div>
    <div class="stepper">
    <mat-horizontal-stepper>
    <mat-step label="Intimation">
    Fill up the pre-auth form at the network hospital for cashless approval
    </mat-step>
    <mat-step label="Approval/Rejection">
    Once hospital intimates us, we send you the status update
    </mat-step>
    <mat-step label="Hospitalisation">
    Hospitalisation can be done on the basis of pre-auth approval
    </mat-step>
    <mat-step label="Claim Settlement">
    At the time of discharge, we settle the claim directly with hospital
    </mat-step>
    </mat-horizontal-stepper>
    </div>
</div>
</div>
