<app-main-nav> </app-main-nav>
<div class="bg-images">
    <div class="center">
     <h1>Why buy from My Health Insurance?</h1>
    </div>
    <div class="card-row">
    <mat-card>
    <img class="image" mat-card-image src="\assets\images\download.png" >
    <mat-card-header>
    <mat-card-title>Platinum member</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    <p>My Health Insurance is the largest partner for most Health
     Insurers and a Platinum partner,
    which means we prioritize your policy and claims to ensure treating them on priority</p>
    </mat-card-content>
    </mat-card>
    <mat-card>
    <img class="image2" mat-card-image src="\assets\images\rupee.png" >
    <mat-card-header>
    <mat-card-title>Affordable options</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    <p>We make Health insurance more affordable for you through various monthly payment options and discounts provided by our Partners</p>
    </mat-card-content>
    </mat-card>
    <mat-card>
    <img class="image2" mat-card-image src="\assets\images\clock.png" >
    <mat-card-header>
    <mat-card-title>30 minute claim support*</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>Our Claim specialists will reach your hospital or home in 30 minutes to support your health insurance claim</p>
    </mat-card-content>
    </mat-card>
    </div>
<div class="whitebg">
    <div class="center">
    <h1>How to Make a Claim for your Health Insurance </h1>
    </div>
<div class="card-row1">
    <img class="stepperimage" mat-card-image src="\assets\images\formfill.png" >
    <img class="stepperimage" mat-card-image src="\assets\images\approved.png" >
    <img class="stepperimage" mat-card-image src="\assets\images\hosp.png" >
    <img class="stepperimage" mat-card-image src="\assets\images\set1.png" >
</div>
    <div class="stepper">
    <mat-horizontal-stepper>
    <mat-step label="Intimation">
    Fill up the pre-auth form at the network hospital for cashless approval
    </mat-step>
    <mat-step label="Approval/Rejection">
    Once hospital intimates us, we send you the status update
    </mat-step>
    <mat-step label="Hospitalisation">
    Hospitalisation can be done on the basis of pre-auth approval
    </mat-step>
    <mat-step label="Claim Settlement">
    At the time of discharge, we settle the claim directly with hospital
    </mat-step>
    </mat-horizontal-stepper>
    </div>
</div>
</div>
<div class="center">
    <h1>What does your health insurance policy give you? </h1>
</div>
  <div class="card-row">
    <mat-card>
       

            <img  mat-card-image src="\assets\images\expense.png" >
       
            <div class="overlay">
      <mat-card-header>
        
        <mat-card-title>Daycare expenses</mat-card-title>
      </mat-card-header>
     
      <mat-card-content>
        <p>Treatments that take less than 24 hours are known as daycare treatments. Your health insurance policy My Health Insurance offers financial aid for expenses incurred towards these daycare treatments.</p>
      </mat-card-content>
    </div>
    </mat-card>
    <mat-card>
        <img  mat-card-image src="\assets\images\hospitalized.png" >
        <div class="overlay">
      <mat-card-header>
        
        <mat-card-title>Hospitalization</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>The plan covers surgeries, doctor consultation fees, room rent, ICU expenses due to injury or illness, ambulances, and many more facilities. You may even avail of a cashless treatment if you are admitted to a network facility and meet the other authorization criteria for a claim.</p>
      </mat-card-content>
      </div>
    </mat-card>
    <mat-card>
        <img  mat-card-image src="\assets\images\extended.png" >
        <div class="overlay">
      <mat-card-header>
        
        <mat-card-title>Extended hospitalization</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>My Health Insurance insurance policies grant allowance for extended hospitalization and child hospitalization under the extended hospitalization benefits of your My Health Insurance cover.</p>
      </mat-card-content>
    </div>

    </mat-card>
   </div>
  <div class="card-row">
    <mat-card>
       

            <img  mat-card-image src="\assets\images\pre hosp.png" >
       
            <div class="overlay">
      <mat-card-header>
        
        <mat-card-title>Pre hospitalization expenses</mat-card-title>
      </mat-card-header>
     
      <mat-card-content>
        <p>Cost of therapies and consultation fees for the period of 30 days, which can also extend up to 60 days, before hospitalization due to the same injury or illness.</p>
      </mat-card-content>
      </div>
    </mat-card>
    <mat-card>
        <img  mat-card-image src="\assets\images\post hosp.png" >
        <div class="overlay">
      <mat-card-header>
        
        <mat-card-title>Post hospitalization expenses</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Cost of therapies and consultation fees for the period of 60 days, which can also extend up to 90 days, after hospitalization due to the same injury or illness.</p>
      </mat-card-content>
      </div>
    </mat-card>
    <mat-card>
           
    
        <img  mat-card-image src="\assets\images\ayurveda.png" >
        <div class="overlay">
    
  <mat-card-header>
    
    <mat-card-title>Other treatment</mat-card-title>
  </mat-card-header>
 
  <mat-card-content>
    <p>Expenses incurred towards ayurved, Unani, Siddha, or homoeopathic treatments from a recognized institute or under an authorized doctor are included in your health insurance policy. These can include surgical and therapeutic procedures.</p>
  </mat-card-content>
  </div>
</mat-card>
    </div>
    <!-- --------------------------------------------- -->

    <div class="card-row">
        
        
        </div>
  
        <div class="card-row">
          <mat-card>
             
      
                  <img  mat-card-image src="\assets\images\organ.png" >
             
                  <div class="overlay">
            <mat-card-header>
              
              <mat-card-title>
                Organ donor expenses</mat-card-title>
            </mat-card-header>
           
            <mat-card-content>
              <p>Health insurance covers the whole cost of organ donation and transplant surgeries.</p>
            </mat-card-content>
            </div>
          </mat-card>
          <mat-card>
              <img  mat-card-image src="\assets\images\recover.png" >
              <div class="overlay">
            <mat-card-header>
              
              <mat-card-title>Recovery benefit
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>Financial support if you stay at the hospital longer than you expected, known as recovery benefit, that can help you and your family meet miscellaneous expenses while you recover, are included in your health insurance cover.</p>
            </mat-card-content>
          </div>
          </mat-card>
          </div>
