<div style="display: flex; justify-content: center; align-items: center; height: 60vh;">
  <mat-card class="card" >
    <mat-card-header>
      <mat-card-title class="textcenter" >Create Doctor</mat-card-title>
    </mat-card-header>
    &nbsp;
    &nbsp;
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
       <div class="row">
          <mat-form-field>
            <mat-label>Doctor Name</mat-label>
            <input matInput [(ngModel)]="doctor.doctor_name" name="doctor_name" formControlName="docname">
            
          </mat-form-field>
          &nbsp;
          &nbsp;

          <mat-form-field>
            <mat-label>Doctor Mobile</mat-label>
            <input matInput [(ngModel)]="doctor.phone_no" name="phone_no" formControlName="phoneno">
          </mat-form-field>
          
        </div>

        <div class="row">
          <mat-form-field>
            <mat-label>Specialty</mat-label>
            <mat-select [(ngModel)]="doctor.doctor_speciality" name="specialty" formControlName="special">
              <mat-option *ngFor="let specialty of specialties" [value]="specialty">{{ specialty }}</mat-option>
            </mat-select>
          </mat-form-field>
           &nbsp;
           &nbsp;
          

          <mat-form-field>
            <mat-label>Doctor Description</mat-label>
            <textarea matInput [(ngModel)]="doctor.doctor_description" name="doctor_description" formControlName="desc"></textarea>
          </mat-form-field>
        </div>

        
          <button mat-raised-button color="primary" type="submit" [disabled]="" >Create</button>
        
      </form>
    </mat-card-content>
  </mat-card>

</div>