
  <br>
  <mat-toolbar class="whitecolor" [ngClass]="{'fixed-sub-navbar': isFixed}" >
    
    <mat-form-field class="form">
      <mat-label>Search Providers/ID</mat-label>
      <input matInput [formControl]="selectedProvider" (ngModelChange)="onStateChange()">
      <mat-icon matSuffix>search</mat-icon>
      
    </mat-form-field>
    &nbsp;
    &nbsp;
    <mat-form-field class="form" >
      <mat-label>Search State /City</mat-label>
      <input matInput [formControl]="selectedState" (ngModelChange)="onStateChange()" >
      <mat-icon matSuffix>location_on</mat-icon>
    </mat-form-field>
    &nbsp;
    &nbsp;
    &nbsp;
    <a mat-raised-button color="default" routerLink="/adminpage/createprovider">
      CREATE
      <mat-icon>add</mat-icon>
    </a>
  </mat-toolbar>

  
  <br>

  <router-outlet></router-outlet>
  
  
 <!-- //........display search ........ -->
  <div class="card-grid-container">
    <mat-card *ngFor="let provider of filterProvider | slice:0:5" class="doctor-card">
      <mat-card-header>
        <mat-card-title>{{ provider.hospital_clinic }}  </mat-card-title>
        <!-- <mat-card-subtitle>{{ provider.doctor_speciality }}</mat-card-subtitle> -->
      </mat-card-header>
      <mat-card-content>
        <div class="content-container">
          <p> <mat-icon class="my-icon">location_on</mat-icon>{{ provider.city }},{{ provider.state }}</p>
          <p><mat-icon class="my-icon">phone</mat-icon>{{ provider.contact_number }}</p>
          <p> <mat-icon class="my-icon">badge</mat-icon> {{provider.provider_id}}</p><br>
          <p class="form-container"><button mat-raised-button color="primary" (click) = "updateprovider(provider.provider_id)" >UPDATE<mat-icon>update</mat-icon></button>&nbsp;
            <button mat-raised-button color="warn" (click) = "deleteprovider(provider.provider_id)">DELETE<mat-icon>delete</mat-icon>
            </button></p>
        </div>
      
      </mat-card-content>
      
    </mat-card>