.background{
    height: 100vh;
    width: 100%;
    background: url('src\assets\images\back1.webp') no-repeat;
    background-size: cover;
    filter: grayscale(10%);
    /* color: white; */
}
/* 
.insurance-card {
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
  }
  
  .insurance-card-header {
    background-color: #007bff;
    color: #fff;
    padding: 16px;
    text-align: center;
  }
  
  .insurance-card-title {
    margin: 0;
  }
  
  .insurance-card-body {
    padding: 16px;
  }
  
  .insurance-card-details {
    display: flex;
    flex-direction: column;
  }
  
  .insurance-card-detail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }
  
  .insurance-card-detail-label {
    font-weight: bold;
    margin-right: 8px;
  }
  
  .insurance-card-detail-value {
    font-weight: normal;
  } */



  .insurance-home {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
  }
  
  .insurance-home-header {
    text-align: center;
  }
  
  .insurance-home-title {
    margin: 0;
  }
  
  .insurance-home-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 32px;
  }
  
  .insurance-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 32px;
    padding: 16px;
    width: calc(33.33% - 16px);
  }
  
  .insurance-card-title {
    font-size: 24px;
    margin: 0 0 16px;
  }
  
  .insurance-card-description {
    font-size: 16px;
    margin: 0 0 16px;
  }
  
  .insurance-card-button {
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 16px;
  }
  
  