.background{
  
  /* background: url('src\assets\images\back1.png');
  background-size: cover;
  background-attachment: fixed;
  filter: grayscale(10%); */
  background-color: #f2f2f2;
  
  }

  
  .whitebg{
  background-color: #FFFFFF;
    }