<!-- <mat-card>
  
    <mat-card-content >
  
      
      <div class="centered-card-container">
        <mat-card >
          <mat-card-header>
            <mat-card-title class="text-center" >Search </mat-card-title>
          </mat-card-header>
          <mat-card-content>
      &nbsp;
    <mat-form-field>
      <mat-label>Search doctor_id/Name</mat-label>
      <input matInput [formControl]="selectedProvider" (ngModelChange)="onStateChange()">
      <mat-icon matSuffix>search</mat-icon>
      
    </mat-form-field>
    &nbsp;
    <mat-form-field>
      <mat-label>Search provider_id/Name</mat-label>
      <input matInput [formControl]="selectedState" (ngModelChange)="onStateChange()" >
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <br>
    <a mat-raised-button color="primary" routerLink="/adminpage/createsearch" >CREATE<mat-icon>add</mat-icon></a> &nbsp;
  
        
      </mat-card-content>
      
    </mat-card>

  </div>
 
  </mat-card-content>
  
  </mat-card> -->

  <br>
  <mat-toolbar class="whitecolor" [ngClass]="{'fixed-sub-navbar': isFixed}" >
    
    <mat-form-field class="form">
      <mat-label>NPI Number/Name</mat-label>
      <input matInput [formControl]="selectedProvider" (ngModelChange)="onStateChange()">
      <mat-icon matSuffix>search</mat-icon>
      
    </mat-form-field>
    &nbsp;
    &nbsp;
    <mat-form-field class="form" >
      <mat-label>Provider ID/Name</mat-label>
      <input matInput [formControl]="selectedState" (ngModelChange)="onStateChange()" >
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    &nbsp;
    &nbsp;
    &nbsp;
    <a mat-raised-button color="default" routerLink="/adminpage/createsearch">
      CREATE
      <mat-icon>add</mat-icon>
    </a>
  </mat-toolbar>
  
  <br>
  <router-outlet></router-outlet>

  <!-- //........display search ........ -->
  <div class="card-grid-container">
    <mat-card *ngFor="let search of filtersearch | slice:0:5" class="doctor-card">
      <mat-card-header>
        <!-- <mat-card-title>ID is passed</mat-card-title> -->
        <!-- <mat-card-subtitle>{{ provider.doctor_speciality }}</mat-card-subtitle> -->
      </mat-card-header>
      <mat-card-content>
        <div class="content-container">
          <p>NPI Number :{{ search.doctorId }}</p>
          <p>Doctor Name:{{search.doctorName}}</p>
          <p>Provider ID:{{ search.providerId }}</p>
          <p>Provider name:{{ search.hospitalClinic }}</p>
          <!-- <p>search_id{{search.searchId}}</p> -->
        </div>
        <form class="form-container">
          <button mat-raised-button color="primary" (click) = "updatesearch(search.searchId)" >UPDATE<mat-icon>update</mat-icon></button>&nbsp;
          <button mat-raised-button color="warn" (click) = "deletesearch(search.searchId)">DELETE<mat-icon>delete</mat-icon>
          </button>
        </form>
      </mat-card-content>
      
    </mat-card>