.doctor-card {
    margin-bottom: 20px; /* Adjust the value as needed to control the spacing between doctors */
  }
  
  .tabclass1{
   padding-left: 5%;
    width: 50%;
  
    margin-bottom: 30px;
    
    }
    
    
  
  @media (min-width: 768px) and (max-width: 1024px) {
   
  }
  /* centered-card.component.css */
  .centered-card-container {
    background-color: #427b0d45;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh; /* Adjust height as needed */
  }
  
  .mat-card {
    
    max-width: 400px; /* Set max-width to control card width */
    width: 100%; /* Set width to 100% for responsiveness */
  }
  /* .my-icon {
    font-size: 20px;
   
  } */
  .content-container {
    display: flex;
    flex-direction: column;
    
  }
  
  .my-icon {
    margin-right: 8px; /* adjust the margin as needed */
  }
  
  
  
  
  /* NAV */
  .spacer{
    flex: 1;
  }
  .mat{
    /* background: url('src\assets\images\back1.webp') no-repeat;
    background-size: cover; */
    background-color: #427b0d45;
    width: 100%;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
  }
  
  /* ....card speclity.. */
  
  
  /* .mat-card-hover:hover {
    background-color: #e6b2b1; 
  } */
  
  .fixed-sub-navbar {
  
    position: fixed;
    top: 0px; /* adjust the top value based on the height of your main navbar */
    width: 100%;
    z-index: 1;
  }

  .form{
    padding-top: 25px;
  }

  .whitecolor{
    background-color: #ffff;
    box-shadow: none;
    max-width: 100%;
    
    background-size: cover;
    
    
  }

  .card-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;

    padding-left: 2%;
    
    width: 95%;
  
    margin-bottom: 30px;
  }

  

  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button {
    margin: 0 5px;
  }
  
  @media screen and (max-width: 768px) {
    .form-container {
      flex-direction: column;
    }
    
    button {
      margin: 5px 0;
    }
  }