.spacer{
    flex: 1;
}
.titlecolor{
color: white;
}
.mat{
    
    /* background-color: #333; */
    background-color:rgb(34, 10, 130);
    width: 100%;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .background{
  
    background: url('src\assets\images\back1.webp');
    background-size: cover;
    background-attachment: fixed;
    filter: grayscale(10%);
    
    }
    