
<!-- <mat-card>
  
  <mat-card-content >
                                      
    <div class="centered-card-container">
        <mat-card >
          <mat-card-header>
            <mat-card-title class="text-center" >Search for Doctors in India</mat-card-title>
          </mat-card-header>
          <mat-card-content>
      &nbsp;
    <mat-form-field>
      <mat-label>Search Doctors/ID</mat-label>
      <input matInput [formControl]="selectedDoctor" (ngModelChange)="onStateChange()">
      <mat-icon matSuffix>search</mat-icon>
      
    </mat-form-field>
    &nbsp;
    <mat-form-field>
      <mat-label>Search Speciality</mat-label>
      <input matInput [formControl]="selectedSpeciality" (ngModelChange)="onStateChange()" >
      <mat-icon matSuffix>medical_services</mat-icon>
    </mat-form-field>
    <br>
    
    <a mat-raised-button color="primary" routerLink="/adminpage/createdoctor" >CREATE<mat-icon>add</mat-icon></a> &nbsp;

        
      </mat-card-content>
      
    </mat-card>

  </div>
 
  </mat-card-content>
  
  </mat-card> -->
<br>
  <mat-toolbar class="whitecolor" [ngClass]="{'fixed-sub-navbar': isFixed}" >
    
    <mat-form-field class="form">
      <mat-label>Search Doctors/ID</mat-label>
      <input matInput [formControl]="selectedDoctor" (ngModelChange)="onStateChange()">
      <mat-icon matSuffix>search</mat-icon>
      
    </mat-form-field>
    &nbsp;
    &nbsp;
    <mat-form-field class="form" >
      <mat-label>Search Speciality</mat-label>
      <input matInput [formControl]="selectedSpeciality" (ngModelChange)="onStateChange()" >
      <mat-icon matSuffix>medical_services</mat-icon>
    </mat-form-field>
    &nbsp;
    &nbsp;
    &nbsp;
    <a mat-raised-button color="default" routerLink="/adminpage/createdoctor">
      CREATE
      <mat-icon>add</mat-icon>
    </a>
  </mat-toolbar>
  
  <mat-menu #menu="matMenu">
    <div class="centered-card-container">
      <mat-card>
        <mat-card-header>
          <mat-card-title class="text-center">Search for Doctors in India</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          &nbsp;
          <mat-form-field>
            <mat-label>Search Doctors/ID</mat-label>
            <input matInput [formControl]="selectedDoctor" (ngModelChange)="onStateChange()">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
          &nbsp;
          <mat-form-field>
            <mat-label>Search Speciality</mat-label>
            <input matInput [formControl]="selectedSpeciality" (ngModelChange)="onStateChange()">
            <mat-icon matSuffix>medical_services</mat-icon>
          </mat-form-field>
          <br>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-menu>
  
  
  <br>
  <router-outlet></router-outlet>
   <!-- //........display search ........ -->

   <!-- last done updation -->
  <div class="card-grid-container">
    <mat-card *ngFor="let doctor of filterDoctor | slice:0:10" class="doctor-card">
      <mat-card-header>
        <mat-card-title>Dr.{{ doctor.doctor_name }}  </mat-card-title>
        <mat-card-subtitle>{{ doctor.doctor_speciality }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="content-container">
          <p>{{ doctor.doctor_description }}</p>
          <p> <mat-icon>person</mat-icon> 
            {{doctor.doctor_id}}</p>
        </div>
        <form class="form-container">
          <button mat-raised-button color="primary" (click) = "updatedoctor(doctor.doctor_id)" >UPDATE<mat-icon>update</mat-icon></button>&nbsp;
          
          <button mat-raised-button color="warn" (click) = "deletedoctor(doctor.doctor_id)">DELETE<mat-icon>delete</mat-icon>
          </button>
        </form>
      </mat-card-content>
      
    </mat-card>
    
  
