
<br>
  <mat-toolbar class="whitecolor" [ngClass]="{'fixed-sub-navbar': isFixed}" >
    
    <mat-form-field class="form">
      <mat-label>NPI number/Name</mat-label>
      <input matInput [formControl]="selectedDoctor" (ngModelChange)="onStateChange()">
      <mat-icon matSuffix>search</mat-icon>
      
    </mat-form-field>
    &nbsp;
    &nbsp;
    <mat-form-field class="form" >
      <mat-label>Speciality</mat-label>
      <input matInput [formControl]="selectedSpeciality" (ngModelChange)="onStateChange()" >
      <mat-icon matSuffix>medical_services</mat-icon>
    </mat-form-field>
    &nbsp;
    &nbsp;
    &nbsp;
    <a mat-raised-button color="default" routerLink="/adminpage/createdoctor">
      CREATE
      <mat-icon>add</mat-icon>
    </a>
  </mat-toolbar>
  
  <mat-menu #menu="matMenu">
    <div class="centered-card-container">
      <mat-card>
        <mat-card-header>
          <mat-card-title class="text-center">Search for Doctors in India</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          &nbsp;
          <mat-form-field>
            <mat-label>Search Doctors/ID</mat-label>
            <input matInput [formControl]="selectedDoctor" (ngModelChange)="onStateChange()">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
          &nbsp;
          <mat-form-field>
            <mat-label>Search Speciality</mat-label>
            <input matInput [formControl]="selectedSpeciality" (ngModelChange)="onStateChange()">
            <mat-icon matSuffix>medical_services</mat-icon>
          </mat-form-field>
          <br>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-menu>
  
  
  <br>
  <router-outlet></router-outlet>
   <!-- //........display search ........ -->

   <!-- last done updation -->
  <div class="card-grid-container">
    <mat-card *ngFor="let doctor of filterDoctor | slice:0:10" class="doctor-card">
      <mat-card-header>
        <mat-card-title>Dr.{{ doctor.doctorName }}  </mat-card-title>
        <mat-card-subtitle>{{ doctor.doctorSpeciality }}</mat-card-subtitle>
        
      </mat-card-header>
      <mat-card-content>
        <div class="content-container">
          <p>{{doctor.phoneNo}}</p>
          <p>{{ doctor.doctorDescription }}</p>
          
          <p> <mat-icon>person</mat-icon> 
           NPI ID: {{doctor.doctorId}}</p>
            <br>
            <p class="form-container">
              
                <button mat-raised-button color="primary" (click) = "updatedoctor(doctor.doctorId)" ><mat-icon>update</mat-icon>UPDATE</button>&nbsp;
                
                <button mat-raised-button color="warn" (click) = "deletedoctor(doctor.doctorId)"><mat-icon>delete</mat-icon>DELETE</button>
            
            </p>
        </div>
       
      </mat-card-content>
      
    </mat-card>
    
  
