<!-- <div class="container">
    <mat-toolbar  class="mat">
       <span><mat-icon color="accent">favorite</mat-icon>
       <a mat-button color="accent" routerLink="/">MY HEALTH INSURANCE</a> </span>
    
    <div class="spacer">
       
    </div>
    
       
       <a mat-raised-button color="accent" routerLink="/adminpage"><mat-icon>home</mat-icon></a> &nbsp;
       <a mat-raised-button color="accent" routerLink="/" ><mat-icon>logout</mat-icon>SIGN-OUT</a> &nbsp;
       
    </mat-toolbar>
    
    </div>

    
    <div class="container">
        <mat-toolbar  class="mat">
           
           <a mat-raised-button color="accent" routerLink="admindoctor">Doctor</a> &nbsp;
           <a mat-raised-button color="accent" routerLink="adminprovider" >Provider</a> &nbsp;
           <a mat-raised-button color="accent" routerLink="adminsearch" ><mat-icon>link</mat-icon><mat-icon>person</mat-icon><mat-icon>medical_services</mat-icon></a> &nbsp;
           
        </mat-toolbar>
        
        </div> -->

        <!DOCTYPE html>
        <html lang="en">
        <body>
            <header>
                <div class="logo">
                    <a href="#">Advalent Health Insurance.</a>
                </div>
                <input type="checkbox" id="click">
                <label for="click" class="mainicon">
                    <div class="menu">
                        <i class="bi bi-list"></i>
                    </div>
                </label>
                <nav>
                    <!-- <a href="#" >Home</a>
                    <a  routerLink="/signin">Sign in</a> -->
                    <a mat-raised-button color="accent" class="active" routerLink="/adminpage"><mat-icon>home</mat-icon></a>&nbsp;
                     <a mat-raised-button color="accent" class="active" routerLink="/" ><mat-icon>logout</mat-icon>SIGN-OUT</a> &nbsp;
                    <!-- <a href="#">Contact</a> -->
                </nav>
                
            </header>
        
        </body>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
        </style>
      </html>
      <body>
         <header>
            <nav>
               <br>
              &nbsp;<a class="active" routerLink="admindoctor">Doctor</a> &nbsp;
                 <a class="active" routerLink="adminprovider" >Provider</a> &nbsp;
                 <a mat-raised-button class="active" color="accent" routerLink="adminsearch" ><mat-icon>link</mat-icon><mat-icon>person</mat-icon><mat-icon>medical_services</mat-icon></a> &nbsp;
              
            </nav>
         </header>
     
     </body>
     
<router-outlet></router-outlet>
  <br><br><br>
<app-footer1></app-footer1>
