<div class="container">
    <mat-toolbar  class="mat">
       <span><mat-icon color="accent">favorite</mat-icon>
       <a mat-button color="accent" routerLink="/">MY HEALTH INSURANCE</a> </span>
    
    <div class="spacer">
       
    </div>
    
       <!-- <a mat-button color="accent">About us</a> -->
       <a mat-raised-button color="accent" routerLink="/adminpage"><mat-icon>home</mat-icon></a> &nbsp;
       <a mat-raised-button color="accent" routerLink="/" ><mat-icon>logout</mat-icon>SIGN-OUT</a> &nbsp;
       <!-- <a mat-raised-button color="accent" routerLink="signup">Sign up</a> -->
    </mat-toolbar>
    
    </div>

    <!-- subnav -->
    <div class="container">
        <mat-toolbar  class="mat">
           
           <a mat-raised-button color="accent" routerLink="admindoctor">Doctor</a> &nbsp;
           <a mat-raised-button color="accent" routerLink="adminprovider" >Provider</a> &nbsp;
           <a mat-raised-button color="accent" routerLink="adminsearch" ><mat-icon>link</mat-icon><mat-icon>person</mat-icon><mat-icon>medical_services</mat-icon></a> &nbsp;
           <!-- <a mat-raised-button color="accent" routerLink="signup">Sign up</a> -->
        </mat-toolbar>
        
        </div>
<router-outlet></router-outlet>
  <br><br><br>
<app-footer1></app-footer1>