.doctor-card {
    margin-bottom: 20px; /* Adjust the value as needed to control the spacing between doctors */
  }
  
  .tabclass1{
   padding-left: 5%;
    width: 50%;
  
    margin-bottom: 30px;
    
    }
    
    
  
  @media (min-width: 768px) and (max-width: 1024px) {
   
  }
  /* centered-card.component.css */
  .centered-card-container {
    background-color: #86f1df;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh; /* Adjust height as needed */
  }
  
  .mat-card {
    
    max-width: 400px; /* Set max-width to control card width */
    width: 100%; /* Set width to 100% for responsiveness */
  }
  /* .my-icon {
    font-size: 20px;
   
  } */
  .content-container {
    display: flex;
    flex-direction: column;
    
  }
  
  .my-icon {
    margin-right: 8px; /* adjust the margin as needed */
  }
  
  
  
  
  /* NAV */
  .spacer{
    flex: 1;
  }
  .mat{
    /* background: url('src\assets\images\back1.webp') no-repeat;
    background-size: cover; */
    background-color: #333;
    width: 100%;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
  }
  
  /* ....card speclity.. */
  
  
  /* .mat-card-hover:hover {
    background-color: #e6b2b1; 
  } */
  /* ........................................... */
  * {
    margin: 0;
    padding: 0;
}

body {
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: 'Poppins', sans-serif;
    max-height: 100vh;
}

/*nav */
header {
    padding: .3rem 1rem;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: auto;
    align-items: center;
}

.logo {
    font-size: 1.3rem;
    font-weight: 800;
}

.logo a {
    color: #244D61;
    text-decoration: none;
}

nav a {
    color: #244D61;
    text-decoration: none;
    font-size: .97rem;
    font-weight: 600;
    letter-spacing: .7px;
    padding: 1rem;
    padding: 0.4rem 1rem;
}

nav a.active,
nav a:hover {
    background-color: #244D61;
    color: #fff;
    border-radius: 1rem;
    transition: all.3s ease-in-out;
}

#click {
    display: none;
}

.menu {
    display: none;
}

/* Nav */

@media only screen and (max-width:480px) {
    .menu {
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
        color: #244D61;
    }

    header {
        padding: 0.7rem 1rem;
        align-items: center;
        max-width: 100%;
    }

    nav {
        position: absolute;
        display: grid;
        top: 75px;
        width: calc(100% - 40px);
        text-align: center;
        background-color: #fff;
        left: -100%;
    }

    #click:checked~nav {
        left: 0%;
        transition: all 0.3s ease;
    }

    section {
        margin: 1rem 1.5rem;
    }

}
  